<form action="http://note.creatzy.com/auth/login" id="loginForm" "method="POST">
<div data-role="fieldcontain">
    <label for="textinput1">Username</label>
    <input name="identity" id="textinput1" placeholder="" value="admin@admin.com" type="text" />
</div>
<div data-role="fieldcontain">
    <label for="textinput2">Password</label>
    <input name="password" id="textinput2" placeholder="" value="password" type="password" />
</div>
<div class="ui-grid-b">
    <div class="ui-block-a">
        <a data-role="button">Forgot</a>
    </div>
    <div class="ui-block-b">
        <a data-role="button" id="loginSubmit">Submit</a>
    </div>
    <div class="ui-block-c">
        <a data-role="button" id="createUser"data-theme="b">New</a>
    </div>
</div>
</form>